  .wrap{
  	max-width: 1200px;
  	height: auto;
  	margin: 30px auto;
  }
  .hot{
	color: red;
}
  .header{
   	width: 100%;
   	height: 80px;
   	/*border-bottom: 1px solid #ccc;*/
   	background: #e8e9d7;
   }
   .header .logo{
   	float: left;
   	width: 15%;
   	height: 80px;
   	margin-left: 30px;
   }
   .logo a{
   	text-indent: -9999px;
   }
   .logo a img{
   	width: 100%;
   	height: 100%;
   }
   .header nav{
   	width: 75%;
   	float: right;
   	margin-right: 15px;
   }
   .header nav a{
   	display: inline-block;
   	width: 11%;
   	text-align: center;
   	line-height: 78px;
   	font-size: 18px;
   	color: #20c157;
   }
   .header nav a.active,.header nav a:hover{
   	/*border-bottom: 2px solid #e8e9d7;*/
   	color: #e8e9d7;
    background: #20c157;
   }


.footer{
	background: #e8e9d7;
	color: #20c157;
	padding: 15px 50px;
}
.footerTop{
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	border-bottom: 1px dashed #ccc;
}
.footerCon{
	padding: 30px;
	position: relative;
}
.footerCon div{
	margin-bottom: 20px;
}
.footerCon span{
	padding-left: 50px;
	font-size: 22px;
}
.myicon{
	font-size: 30px !important;
}
.ewm{
	overflow: hidden;
	width: 150px;
	height: 150px;
	position: absolute;
	top: 50px;
	right: 60px;
}
.ewm img{
	width: 100%;
}
.footerBottom{
	text-align: center;
	font-size: 14px;
}
