 .swiper-container {
 	width: 100%;
 	height: 480px;
 }
 
 .swiper-slide {
 	text-align: center;
 	font-size: 18px;
 	background: #fff;
 	/* Center slide text vertically */
 	display: -webkit-box;
 	display: -ms-flexbox;
 	display: -webkit-flex;
 	display: flex;
 	-webkit-box-pack: center;
 	-ms-flex-pack: center;
 	-webkit-justify-content: center;
 	justify-content: center;
 	-webkit-box-align: center;
 	-ms-flex-align: center;
 	-webkit-align-items: center;
 	align-items: center;
 }
 
 .swiper-slide img {
 	width: 100%;
 	height: 100%;
 }
 
 .swiper-button-next,
 .swiper-button-prev {
 	width: 30px;
 	height: 30px;
 }
 
 .swiper-button-next {
 	right: 50px;
 	background-image: url(../img/right.png);
 }
 
 .swiper-button-prev {
 	left: 50px;
 	background-image: url(../img/left.png);
 }
 
 .swiper-pagination-bullet-active {
 	background: #20c157;
 }
 
 /*.classes, .stuInfo ,.industry,.joinUs{*/
 	/*margin-top: 40px;*/
 	/*background: #FFFFFF;*/
 	/*padding: 0px 30px 30px;*/
 	/*position: relative;*/
	 /*border-radius: 10px;*/
 /*}*/
 
 /*.classes h3 {*/
 	/*text-align: center;*/
 	/*font-size: 28px;*/
 	/*color: #20c157;*/
 	/*border-bottom: 1px solid #20c157;*/
 	/*line-height: 60px;*/
 	/*height: 60px;*/
 	/*margin-bottom: 20px;*/
 /*}*/
 /*.classes .hotIcon{*/
 	/*position: absolute;*/
 	/*top:-33px;*/
 	/*left: 0px;*/
 /*}*/
 /*.hotIcon img{*/
 	/*width: 100%;*/
 	/*height: 100%;*/
 /*}*/
 /*.classes table {*/
 	/*width: 100%;*/
 /*}*/
 
 /*.classes table td,*/
 /*.classes table th {*/
 	/*padding: 15px;*/
 	/*text-align: center;*/
 	/*border: 1px solid #20c157;*/
 	/*border-collapse: inherit;*/
 /*}*/
 /*.classes table td:hover,.classes table th:hover{*/
	 /*background: #20c157;*/
	 /*color: #e8e9d7;*/
 /*}*/
 /*.classes table th {*/
 	/*!*background: #7dbc35;*!*/
 	/*!*color: #FFFFFF;*!*/
 /*}*/

 
 /*.classes .classesDetail {*/
 	/*width: 250px;*/
 	/*height: 50px;*/
 	/*line-height: 50px;*/
 	/*text-align: center;*/
 	/*margin: 30px auto;*/
 	/*border: 1px solid #20c157;*/
 	/*color: #20c157;*/
 	/*font-size: 20px;*/
 	/*border-radius: 5px;*/
 	/*cursor: pointer;*/
	 /*display: block;*/
 /*}*/
 /*.classes .classesDetail:active {*/
 	/*background: #20c157;*/
 	/*color: #FFFFFF;*/
 /*}*/
 
 .stuInfo h3 {
	 text-align: center;
 	font-size: 18px;
 	line-height: 60px;
 	height: 60px;
	 margin-top: 60px;
	 text-indent: 10px;
 	letter-spacing: 5px;
	 font-weight: normal;
 }
 
 .stuInfo .stuCon {
 	overflow: hidden;
 	height: auto;
 	margin-bottom: 40px;
 }
 
 .stuCon div {
 	float: left;
 	width: 220px;
 	height: auto;
 	margin-left: 25px;
 	margin-bottom: 40px;
 	overflow: hidden;
 }
 .stuCon li div:first-child{
	 margin-left: 0px;
 }
 .stuCon a:hover{
	 color: #e74c3c;
 }
 
 .stuCon div img {
 	width: 100%;
 	height: 294px;
 	cursor: pointer;
	 margin-bottom: 20px;
 }
 
 .industry{
	 background: #eaeaea;
	 padding: 60px;
	 text-align: center;
 }
 .industry h3 {
 	font-size: 28px;
 	color: #333333;
 	letter-spacing: 5px;
 }
 .industry p{
	 margin: 15px 0px 26px;
 }
 .industry a{
	 display: inline-block;
	 color: #f33;
	 border: 1px solid #f33;
	 width: 154px;
	 height: 40px;
	 text-align: center;
	 line-height: 38px;
	 font-size: 18px;
	 border-radius: 3px;
	 margin-top: 26px;
 }
 .industry a:hover{
	 color: #e74c3c;
	 border: 1px solid #e74c3c
 }
 .industryCon {
 	width: 100%;
 	height: 365px;
 	overflow: hidden;
 }
 
 .swiper-container2 {
 	width: 100%;
 	height: 100%;
 }
 
 .swiper-pagination2 {
 	text-align: center;
 }

 .joinUs{
	 background: #eaeaea;
	 padding: 60px 0px;
 }
 .joinUs h3 {
 	text-align: center;
 	font-size: 28px;
	 border-bottom: 1px solid #CCCCCC;
 	line-height: 60px;
 	height: 60px;
 	margin-bottom: 60px;
 	letter-spacing: 5px;
 }
 
 .joinUsCon {
 	overflow: hidden;
	 text-align: center;
	 margin-bottom: 60px;
 }
 .joinUsCon>div{
	 display: inline-block;
 }
 
 .joinUsCon img {
 	margin-right: -8px;
 	width: 300px;
 	height: 400px;
	 border-radius: 3px;
     vertical-align: top;
     z-index: 1;
 }
 .joinUsCon img:hover{
	 opacity:0.5;
 }
 .joinUsCon p{
     display: inline-block;
     width: 450px;
     height: 400px;
     line-height: 1.5;
     font-size: 20px;
     vertical-align: top;
     border: 1px solid #CCCCCC;
     border-left: 0px;
     border-radius: 3px;
     padding-top: 20px;
 }
 .joinUsCon p strong{
     font-size: 28px;
     display: block;
 }
 .joinUsConImg{
	 width:auto;
	 height: 350px;
	 overflow: hidden;
	 margin: 0px 60px;
 }
 .classesNav{
	 height: 190px;
	 width: 100%;
	 background: #eaeaea;
 }
 .classesNavCon{
	 width: 33.33%;
	 float: left;
	 padding-top: 50px;
 }
 .classesNavCon h3{
	 font-weight: normal;
	 font-size: 18px;
	 margin-bottom: 20px;
 }
 .classesNavCon p{
	 font-size: 12px;
	 margin-bottom: 15px;
 }
 .classesNavCon a{
	 display: inline-block;
	 color: #f33;
	 border: 1px solid #f33;
	 width: 100px;
	 height: 30px;
	 text-align: center;
	 line-height: 28px;
	 font-size: 12px;
	 border-radius: 3px;
 }
 .classesNavCon a:hover{
	 color: #e74c3c;
	 border: 1px solid #e74c3c
 }
 .brand{
	 width:100%;
	 height: 490px;
	 overflow: hidden;
	 margin-bottom: 60px;
 }
 .brandCon {
	 width: 33.33%;
	 height: 490px;
	 float: left;
	 padding-top: 90px;
 }
 .brandCon img{
	 width: 100%;
	 height: 100%;
 }
 .brandCon p{
	 width: 340px;
	 margin-bottom: 90px;
 }
 .brandCon p.right{
	text-align: right;
	 float: right;
 }
 .brandConTop{
	width: 100%;
	 height: auto;
	 overflow: hidden;
	 margin-bottom: 20px;
 }
 .brandConTop div{
	 float: left;
	 width:55px;
	 height: 55px;
	 background: #000000;
	 margin-right: 15px;
	 text-align: center;
	 line-height: 65px;
 }
 .brandConTop h3{
	 float: left;
	 width: 260px;
	 height: 55px;
 }
 .brandConTop div.right,.brandConTop h3.right{
	 float: right;
	 margin-left: 15px;
	 margin-right: 0px;
 }
 .brandConTop h3.right{
	 text-align: right;
 }
 .hrLine{
	 border-top: 1px solid #CCCCCC;
	 text-align: center;
	 padding: 70px 0px;
 }
 .hrLine h3{
	font-size: 24px;
	 margin-bottom: 30px;
 }
 .hrLine h3 span{
	 color: #ff3333;
 }