  * {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
  }
  
  
  html,body {
  	background: #FFFFFF;
  	font-family: "微软雅黑", Helvetica Neue, Helvetica, Arial, sans-serif;
  	font-size: 14px;
  	color: #333333;
  	letter-spacing: 2px;
  	background: #FFFFFF;
  }
  a{
  	text-decoration: none;
  	color: #0C0C0C;
  	cursor: pointer;
  }
img{
	cursor: pointer;
}
table{
	border-collapse: collapse;
}
ul,li{
	list-style: none;
}